<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}کلینیک دلسا | مشاوره و روان‌درمانی{% endblock %}</title>
  {% block meta %}{% endblock %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/site.css">
  {% block head %}{% endblock %}
</head>
<body>
  {% include "partials/header.html" %}
  <main id="main-content">
    {% block content %}{% endblock %}
  </main>
  {% include "partials/footer.html" %}

  <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
  <script src="/static/js/site.js"></script>
</body>
</html>
